---
layout: default
title: imagegallery
header_title: Galleria immagini
header_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, alias minima corporis, dicta repudiandae laboriosam sapiente fugiat quo molestiae illum dolorem repellat reiciendis fugit eaque temporibus voluptatem. Officia, earum obcaecati.
---

{% include template_section_header.html %}

<div class="container">
    <div class="row flex-row">
        {% for item in site.data.imagegallery %}
        <div class="col-lg-6">
            <a target="" href="{{ item.link }}">
        
                    <img class="img-fluid imageGalleryElemWrap" src="{{ item.link }}" alt="{{ item.titolo }}" style="max-width:320px">
            

            </a>
            <div class="lead m-5">
                <p>{{ item.descrizione }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>