---
layout: default-fluid
title: Immagini
header_title: Galleria immagini
header_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, alias minima corporis, dicta repudiandae laboriosam sapiente fugiat quo molestiae illum dolorem repellat reiciendis fugit eaque temporibus voluptatem. Officia, earum obcaecati.
---

{% include template_section_header.html %}

<div class="container">
    <div class="row flex-row">
        <div class="col-12">
            <h2>Progetto "SCUOLA-BOTTEGA"</h2>
            <p>
                La documentazione fotografica di questa raccolta, presenta alcuni scatti che raccontano delle esperienze del progetto “Scuola – Bottega”, un progetto del Comune di Catania che valorizzava l'operatività dei maestri-artigiani della nostra città. 
                Sotto la guida dei più noti maestri artigiani, gli alunni della Leonardo Grassi di Catania, sono stati impegnati, nel corso di diversi anni scolastici, nella conoscenza e nella esperienza di alcune tecniche artigiane tradizionali. 
                Ad esempio: i Pupi Siciliani erano costruiti dai ragazzi sotto la guida dei fratelli Napoli; abbiamo  riconosciuto il maestro Belfiore nella costruzione delle chitarre..... Non ricordiamo tutti gli altri artigiani che hanno partecipato, ma possiamo chiedere a voi un aiuto: nel nostro archivio sono conservate tante foto delle quali è necessario fare un elenco…
            </p>
            <ul>
                <li><a href="https://drive.google.com/file/d/1pLUNUQDl3ahyMK216GcFWnKEo4CJZH4l/view?usp=sharing" target="_blank">Vai alla raccolta</a></li>
            </ul>
        </div>
    </div>

    <div class="row flex-row">
        <div class="col-12">
            <h2>Altre foto</h2>
            <p>Carrellata di foto su altre attività scolastiche.</p>
            <ul>
                <li><a href="https://drive.google.com/file/d/1lD98AWKDOvXJhDUNluPW7CfozC2ILKXY/view?usp=sharing" target="_blank">Vai alla raccolta</a></li>
            </ul>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row flex-row">
        {% for item in site.data.imagegallery %}
        <div class="col-lg-6">
            <a target="”_blank”" href="{{ item.link }}">

                    <img class="img-fluid boxShadow" src="{{ item.link }}" alt="{{ item.titolo }}" style="max-width:320px">
            
            </a>
            <div class="lead m-5">
                <p>{{ item.descrizione }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<!-- <div class="container">
    {% for item in site.data.imagegallery %}
    
    <div class="row flex-row">
        <div class="col-12">
            <h2> {{ item.titolo }}</h2>
            <p> {{ item.descrizione }}</p>
            {% for sub_item in item.gruppo %}
            
            <div>
                <p>{{ sub_item.nome_gruppo }}</p>
                <ul>
                    {% for sub_sub_item in sub_item.immagini %}
                    <li> {{ sub_sub_item.img1 }}</li>
                    <li> {{ sub_sub_item.img2 }}</li>
                    {% endfor %}    
                </ul>
            </div>
            
            {% endfor %}
        </div>


    </div>
    {% endfor %}
</div> -->