<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="text-center">
            <p>Questo sito è un progetto open source hostato su <a href="https://github.com/raphael2692/francescocapodanno">GitHub <i class="fab fa-github"></i></a>
                Se interessati a condividere una testimonianza su Francesco Capodanno, segnalare malfunzionamenti del
                sito o contribuire allo sviluppo, <a href="{{/contributi.html | relative_url}}">contattateci.</a>.</p>
        </div>
    </div>
</div>