<section id="header_libro">
    <div class="container border border-danger header_section">
        <div class="row">

            <div class="col-sm-12  col-md-6  d-flex align-items-center">
                <div>
                    <h2>Titolo del libro</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad minus.
                        Cumque
                        delectus commodi suscipit quisquam nihil quidem vel nam tenetur vero, obcaecati natus, soluta
                        consequatur ex, optio officiis ea? <a href="/pagina_libro.html"> leggi libro</a></p></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <img class="img-fluid" src="https://via.placeholder.com/320x320" alt="">
                </dev>
            </div>
        </div>
    </div>
</section>