<!-- <div class="border border-danger m-0 p-5 header">
    <h1 class="display-4">Francesco Capodanno</h1>
    <hr>

    <p class="lead">Sito dedicato alla memoria di Francesco Capodanno, complementare al libro dedicatogli: "Titolo Libro". Francesco Capodanno --incipit sezione biografia-- <a href="bio.html" role="button">leggi di più...</a></p>
</div> -->
<header>
<div class="custom-video-wrapper border border-danger">
    <div class="custom-video-overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white pt-5">
          <h1 class="">Francesco Capodanno</h1>
          <p class="lead mb-0">Sito dedicato alla memoria di Francesco Capodanno, complementare al libro dedicatogli: <a class="text-light" href="#header_libro">"Titolo Libro"</a></p>
        </div>
      </div>
    </div>

  </div>
</header>