<section id="header_testimonianze">
    <div class="container header_section">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="">Testimonianze</h2>
            </div>
            <div class="col-12">
                <p class="lead">
                    Le immagini, i video e le foto che vi proponiamo di seguito, raccontano di una
                    scuola diversa, nella quale si è cercato di sperimentare nuove forme
                    di didattica che hanno coinvolto i docenti e gli alunni, in percorsi
                    formativi nuovi, partecipati ed entusiasmanti.
                    </p>
            </div>
        </div>
<br>
<br>
        <div class="row text-center">

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{site.baseurl}}/videogallery.html">Video <i class="fas fa-video"></i></i></a></h2>
                </div>
            </div>

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{site.baseurl}}/documentgallery.html">Documenti <i class="fas fa-file-alt"></i></a></h2>
                </div>
            </div>

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{site.baseurl}}/imagegallery.html">Immagini <i class="fas fa-camera-retro"></i></a></h2>
                </div>
            </div>

        </div>

    </div>
</section>