<section id="header_testimonianze">
    <div class="container header_section">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="text-center">Testimonianze</h2>
            </div>
            <div class="col-12">
                <p class="lead text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed dicta nemo
                    saepe impedit cumque at, expedita facere reiciendis id amet eligendi ipsum. Nostrum quaerat deserunt
                    quisquam aperiam iste. Perspiciatis, autem!</p>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{/videogallery.html | relative_url}}">Video <i class="fas fa-video"></i></i></a></h2>
                </div>
            </div>

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{/documentgallery.html | relative_url}}">Documenti <i class="fas fa-file-alt"></i></a></h2>
                </div>
            </div>

            <div class="col-sm-12  col-md-4">
                <div class="paragraph">
                    <h2><a href="{{/imagegallery.html | relative_url}}">Immagini <i class="fas fa-camera-retro"></i></a></h2>
                </div>
            </div>

        </div>

    </div>
</section>