<section id="header_testimonianze">
  <div class="container header_section">
    <div class="row">
      {% comment %}
      <div class="col-12">
        <h2 class="text-center">Testimonianze</h2>
      </div>
      {% endcomment %}
      <div class="col-12">
        <p class="lead">
          Vorremmo qui mostrare una parte del suo
          profilo biografico, per descrivere nel migliore dei modi il suo
          impegno professionale per la scuola.
          <br>
          <br>
          Vi parleremo di lui, “il preside Francesco Capodanno”, che ha dedicato
          la sua vita per una scuola di qualità, attenta all’alunno che cresce e
          diventa uomo e cittadino.
          <br>
          <br>
          Vi parleremo della Scuola Media, la
          “Leonardo Grassi” di Catania, da lui diretta, accompagnata e, oseremmo
          dire, “interpretata” con grande passione per 25 anni, dal 1966 al
          1991. La sua seconda casa.
          <br>
          <br>
          Questo sito è dedicato a tutti gli alunni della “Leonardo Grassi”, a professori e colleghi e a quanti hanno
          lavorato con lui nella scuola e nelle istituzioni.
          <br>
          <br>
          È dedicato in modo particolare a quanti, nel lavorare con la scuola e con le istituzioni per dare attuazione
          alla recente legge 20 agosto 2019, n.92, “Introduzione dell'insegnamento scolastico dell'educazione
          civica”(Gazz. Uff., 21 agosto 2019, n. 195), e in particolare all'art.9, “Albo delle buone pratiche di
          educazione civica”, possono trovare occasione di studio e spunti per la progettazione degli interventi da
          proporre per la scuola al MPI.
          <br>
          <br>
          Il sito ha anche il fine di raccogliere documenti e testimonianze.
        </p>
      </div>
    </div>
  </div>
</section>