<section id="{{ include.section_id }}">
    <div class="container border border-danger header_section">
        <div class="row">

            <div class="col-sm-12 col-md-6 booking d-flex justify-content-center mb-3">
                <img class="img-fluid" src="{{ include.image_src }}" alt="">
            </div>

            <div class="col-sm-12  col-md-6 descr d-flex align-items-center">
                <div>
                    <h2>{{ include.paragraph_title }}</h2>
                    <p class="lead"> {{ include.paragraph_body }} (<a href="{{ include.paragraph_link }}">continua a leggere...</a>)</p>
                </div>
            </div>


        
        </div>
    </div>
</section>